<!DOCTYPE html>
<html>
    
<head>
        <meta charset="utf-8">
        <title>Menu</title>
    <style>
        body{
            background: url(https://images.unsplash.com/photo-1579537226059-fabc30ac25ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80);
            background-repeat: no-repeat;
            background-attachment: scroll;
            
        }
        </style>
</head>
<body>
    <table>
        <tr>
            <td><img src="https://img.icons8.com/ios-filled/64/000000/happy-cloud.png"></td>
            <td><img src="https://img.icons8.com/carbon-copy/100/000000/squared-menu.png"></td>
            <td><img src="https://img.icons8.com/ios-glyphs/100/000000/123.png"></td>
            <td><img src="https://img.icons8.com/wired/64/000000/ceiling-light.png"></td>
            <td><img src="https://img.icons8.com/wired/64/000000/light-off.png"></td>
            <td><img src="https://img.icons8.com/carbon-copy/64/000000/question-mark.png"></td>
            <td><img src="https://img.icons8.com/wired/64/000000/duration-finance.png"></td>
            <td><img src="https://img.icons8.com/windows/64/000000/exchange-money-bitcoin.png"></td>
            <td><img src="https://img.icons8.com/wired/64/000000/airplane-take-off.png"></td>
            
        </tr>
        <tr>
        <td><button><a href='https://ad-astra.hu'>OwnCloud</a> </button></td>
        <td><button><a href='https://ad-astra.hu:5000'>/</a></button></td>
        <td><button><a href='https://ad-astra.hu:5000/random'>/random</a></button></td>
        <td><button><a href='https://ad-astra.hu:5000/lightsOn'>/lightsOn</a></button></td>
        <td><button><a href='https://ad-astra.hu:5000/lightsOff'>/lightsOff</a></button></td>
        <td><button><a href='https://ad-astra.hu:5000/lightsStatus'>/lightsStatus</a></button></td>
        <td><button><a href='https://ad-astra.hu:5000/btcCurrentToHuf'>/btcCurrentToHuf</a></button></td>
        <td><button><a href='https://ad-astra.hu:5000/btc1ToHuf'>/btc1ToHuf</a></button></td>
        <td><button><a href='https://ad-astra.hu:5000/daysUntilNice'>/daysUntilNice</a></button></td>
        </tr>
    </table>
        
</body>
</html>
