<a href='https://ad-astra.hu'>OwnCloud</a><br> 
<a href='https://ad-astra.hu:5000'>/</a><br> 
<a href='https://ad-astra.hu:5000/random'>/random</a><br> 
<a href='https://ad-astra.hu:5000/lightsOn'>/lightsOn</a><br> 
<a href='https://ad-astra.hu:5000/lightsOff'>/lightsOff</a><br> 
<a href='https://ad-astra.hu:5000/lightsStatus'>/lightsStatus</a><br> 
<a href='https://ad-astra.hu:5000/btcCurrentToHuf'>/btcCurrentToHuf</a><br> 
<a href='https://ad-astra.hu:5000/btc1ToHuf'>/btc1ToHuf</a><br> 
<a href='https://ad-astra.hu:5000/daysUntilNice'>/daysUntilNice</a><br>
